<footer>
    <p>Copyright &copy; Animehub.to. All Rights Reserved</p>
    <p>Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.</p>
</footer>
  