<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <div class="container-fluid main_header">
      <div class="container-fluid top_side">
        <img src="/Image/logo.png" alt="Loading images.." >
        <h1> <a href="/">ANIMEHUB</a></h1>
      </div>

      <div class="search_form">
        <form class="anime_form">
          <input type="text" id="animename" autocomplete="off" placeholder="Enter anime name">
          <input type="submit" value="Search" id="submitbtn">
        </form>
      </div>
    </div>

    <nav class=" navbar navbar-expand-lg navbar-light  ">
      <div class="box" >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menu " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          
            <li class="nav-item">
              <a class="" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item"><a href="">Genres</a>
              <div class="sub-menu-1">
                
                  <table>
                    <tr>
                      <th><li><a href="#"></a>Action</li></th>
                      <th><li><a href="#"></a>Adventure</li></th>
                      <th><li><a href="#"></a>Fantasy</li></th>
                    </tr>
                    <tr>
                      <th><li><a href="#"></a>Game</li></th>
                      <th><li><a href="#"></a>Historical</li></th>
                      <th><li><a href="#"></a>Music</li></th>
                    </tr>
                  </table>
                
              </div>
            </li>

            <li class="nav-item">
              <a class="" aria-current="page" href="/topanime">Top Anime</a>
            </li>

            <li class="nav-item">
              <a class="" aria-current="page" href="/seasonalanime">Seasonal Anime</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

</body>
</html>