<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <div class="container-fluid main_header">
      <div class="container-fluid top_side">
        <img src="/Image/logo.png" alt="Loading images.." >
        <h1> <a href="/">ANIMEHUB</a></h1>
      </div>
    </div>

    <nav class=" navbar navbar-expand-lg navbar-light  ">
      <div class="box" >
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menu " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          
            <li class="nav-item">
              <a class="" aria-current="page" href="/">Home</a>
            </li>

            
              <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Genres</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <table>
                    <tr>
                      <th  class="dropclass"><li><a href="https://myanimelist.net/anime/genre/1/Action" target="_blank">Action</a></a></li></th>
                      <th class="dropclass"><li ><a href="https://myanimelist.net/anime/genre/2/Adventure" target="_blank">Adventure</a></li></th>
                      <th class="dropclass"><li ><a href="https://myanimelist.net/anime/genre/10/Fantasy" target="_blank">Fantasy</a></li></th>
                    </tr>
                    <tr>
                      <th class="dropclass"><li ><a href="https://myanimelist.net/anime/genre/36/Slice_of_Life" target="_blank">Slice of Life</a></li></th>
                      <th class="dropclass"><li ><a href="https://myanimelist.net/anime/genre/22/Romance" target="_blank">Romance</a></li></th>
                      <th class="dropclass"><li ><a href="https://myanimelist.net/anime/genre/30/Sports" target="_blank">Sports</a></li></th>
                    </tr>
                  </table>
                </ul>
              </li>

            <li class="nav-item">
              <a class="" aria-current="page" href="/topanime">Top Anime</a>
            </li>

            <li class="nav-item">
              <a class="" aria-current="page" href="/seasonalanime">Seasonal Anime</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

</body>
</html>