
/* Resposnive  Style */

/* header responsive  */
@media (max-width: 992px){
    .navbar{
        justify-content: flex-start;
    }
    
    .navbar-expand-lg {
        flex-wrap: nowrap;
    }

     
    
    /* To show the menu without clicking */
    /*     
    .menu{
        display: none;
    }
    .navbar div:hover .menu{
        display: block;
        transition:all 0.8s ease-out ;
    } */
}
    
    
    @media(max-width:805px){
        h1{
            display: none;
        }
    
        .top_side{
            max-width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .search_form{
            max-width: 50%;
            display: flex;
            margin: 3rem auto;
            position: relative;
        }
    
    
        .search_form input[type="text"]{
            font-size: 1rem;
        }
    
        .search_form input[type="submit"]{
            font-size: 1rem;
        }
    }
    
    @media(max-width:600px){
        .dropdown-menu table tr th li a{
            font-size: 1rem;
            padding: 0;
        }

        .dropclass{
            width: 65px;
            text-align: center;
        }

        .dropclass li {
            padding: 0;
        }

        table{
            height: 8rem;
            width:30rem;
        }
        
    }
    
    




    /* body  */
    
    @media(max-width:655px){
        .carousel {
            width: 50rem;
            height: 35rem;
        }
    }
    
    @media (max-width: 805px){
        .TITLE h1 {
            display: block;
            font-size: 2rem;
            font-weight: 800;
        }
        .container h1{
            display: block;
            margin: 1rem;
            font-size: 2rem;
        }
    
    }
    
    
    @media(max-width:705px){
        #middle_box{
            padding: 0;
            margin: 0;
        }
        #middle_box img{
            height: 18rem;
         }
    
         #middle_box img:hover{
            transform: scale(1.2);
         }
    
         .cover{
            position: relative;
            width: 90%;
            border: none;
          
         }
        
         .cover::before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            z-index: -1;
            height: 100%;
            width: 150px;
            background-image: linear-gradient(90deg,white,transparent);
         }
        
         .cover::after{
            position: absolute;
            content: "";
            right: 14;
            top: 0;
            z-index: -1;
            height: 100%;
            width: 150px;
            background-image: linear-gradient(-90deg,white,transparent);
         }
        
        .icon{
            font-size: 2rem;
         }
    }
    






    /* TOP ANIME */

    @media(max-width:540px){
        .rank{
            font-size: 2rem;
            width: 0;
        }
        .title{
            font-size: 2rem;
            width: 0;
        }
        .score{
            font-size: 2rem;
            width: 0;
        }

        .partone img{
            width: 10rem;
            height: 15rem;
            padding: 10px;
        }

        .container h2{
            margin: 1rem;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
        }

        h3{
            font-size: 1rem;
        }

        h4{
            font-size: 1rem;
        }
    }



    /* SEASONAL ANIME  */

    @media(max-width:552px){
        #seasonlist_box button {
            margin: 0px 4px;
            font-size: 1rem;
        }

        .seasonbox{
            width: 13rem;
            height: 25rem;
        }

        .box_size img {
            width: 9rem;
            height: 13rem;
        }

        .box_title h2{
            font-size: 0.8rem;
        }

        .box_title h5{
            font-size: 0.8rem;
        }
    }